<p> Контрольная работа №3. Бажаев Арсений Валерьевич. Стадия реализации проекта. На сколько вам нужна помощь в изученни
    ангуляр".
    Сделана главная страница и 2 дочерних компонента из 6 запланированных. </p>

<p>
    Сайт сделан с использованием Chat GPT 3

</p>
<p>
    Я очень люблю программировать, так как это позволяет мне создавать что-то уникальное и полезное. Программирование помогает мне решать сложные задачи и развивать свои логические навыки. Я также очень люблю учиться новым технологиям и языкам программирования, так как это помогает мне стать лучше и увереннее в своих способностях. В целом, программирование для меня это увлекательное и волнующее развлечение, которое помогает мне постоянно развиваться и расти как программист.
</p>